In [7]:
import tensorflow as tf

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, GRU, Dropout, BatchNormalization

In [2]:
busan_df = pd.read_csv('./pollution_data/Busan_pollution_data.csv')

In [10]:
busan_df.head(1)

,datetime,city,lat,lon,aqi,co,no,no2,o3,so2,pm2_5,pm10,nh3
0,2023-01-01 00:00:00,Busan,35.179953,129.075236,2,534.06,15.2,67.17,0.21,19.79,23.39,27.56,7.92

Constant

In [ ]:
# days to refer to train
WINDOW_SIZE = 30

Define Model

In [11]:
model = Sequential()
model.add(GRU(64, activation='tanh', return_sequences=True, input_shape=(window_size, X.shape[2])))
model.add(Dropout(0.2))
model.add(BatchNormalization())
model.add(GRU(32, activation='tanh')),
model.add(BatchNormalization())
model.add(Dropout(0.2))
model.add(Dense(1))

model.compile(optimizer='adam', loss='mse', metrics=['mae'])

NameError: name 'window_size' is not defined